@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-ocean: #0a6d96;
  --color-sand: #e4c97a;
  --color-navy: #022b3d;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter), sans-serif;
}

.font-outfit {
  font-family: var(--font-outfit), sans-serif;
}
